
h1{
  text-align: center;
}
img{
  width: 200px;
  float: left;
  padding: 4px
}

body{
  height: 100%;
  width: 100%;
  background: url('../img/background.jpg');
  margin: 2px;
  padding: 10px;
}
.important{
  color: blue;
}
h3{
  text-align: center;
}
.my-class{
  border: 1px solid gray;
  margin: 10px;
  padding: 10px;

}
